


$color-text: #2E3238;
$color-text-light: #727272;

$color-primary: #c48900;
$color-primary-dark: darken($color-primary, 15);
$color-primary-light: #ffd026;

$color-secondary: #2E3238;

$color-shadow: rgba(0, 0, 0, 0.3);
$color-shadow-light: rgba(#2E3238, .2);


$color-btn: white;
$color-btn-secondary: #2E3238;

$color-success: #25d366;
$color-danger: red;
$color-warning: orange;



