

$color-text: #2E3238;

$color-primary: blue;
$color-primary-dark: darken($color-primary, 20);
$color-primary-light: lighten($color-primary, 20);

$color-shadow: rgba(#2E3238, .2);


$color-btn: white;
$color-btn-secondary: #2E3238;

$color-success: green;
$color-danger: red;
$color-warning: orange;


