.summary {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // transition: .2s all ease-in-out;
    transition: .2s all .2s ease-in-out ;
    position: fixed;
    z-index: 100;
    bottom: 63px;
    // padding: 2rem 0 0 0;
    background-color: white;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    cursor: pointer;

    &::-webkit-scrollbar {
        display: none;
    }
  

    & h2 {
        font-size: 25px;
        cursor: pointer;
    }

    &__title {
        display: flex;
        width: 100%;
        // flex-direction: column;
        align-items: center;
        justify-content: center;
        // background-color: $color-bc;
        padding: 2rem 0 0 0;
        color: $color-bc;

        @include respond(phone){
            font-size: 15px;
            & h2 {
                font-size: 15px;
                cursor: pointer;
            }
        }
    }

    & a {
        margin-left: 5rem;
        color: $color-bc;
    }

    &__dropdown {
        width: 100%;
        padding: 2rem 4rem 0 4rem;
        transition: .3s all ease-in-out  !important;
        height: 0;
        // visibility: hidden;
        overflow-y: scroll;

        & p {
            
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2rem 0;
            border-bottom: 1px solid white;
            font-weight: 800;
            font-size: 20px;
            position: relative;
            transition: .3s all ease-in-out;
            display: none;


            &:last-child {
                border-bottom: none;
            }

            &:first-child {
                border-top: 1px solid white;
            }

            & span {
                font-size: 20px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 40%;
            }

            & u {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                font-weight: 200;
                text-decoration: none;
            }

            @include respond(from-tab-land) {
                justify-content: space-around;
                
            }
        }
    }


}

.dropdown {
    background-color: $color-bc;
    color: white;
    transition: .2s all ease-in-out;

    & a, h2 {
        color: white;
    }

    & .summary__dropdown {
        height: 30vh;
        visibility: visible;

        & p {
            display: flex;
        }
    }
}

.scrim {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(black, .3);
    display: none;
    animation: .4s appear;
}