.card {
    // background-color: $color-bc;
    background-color: $color-bc;
    // background-color: red;
    padding: 3rem;
    max-width: 70vw;
    width: 450px;
    height: 400px;
    max-height: 90vh;
    border-radius: 2.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex: 0 0 auto;

    @include animate(.6s, appear, 0s);

    & img {
        align-self: center;
        max-height: 90%;
        // width: 70%;
    }

    @include respond(from-tab-land){
        
        height: 400px;

        & img {
            // width: 80%;
            // width: 70%;
        }
    }
    
}