
.nav {
    // background-color: $color-primary;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respond(phone){
        flex-direction: column;
        &__options {
            margin-top: 3rem;
        }
    }

    @include respond(from-tab-land){
        padding: 2rem 8rem;
    }

    & img {
        width: 80px;
    }

    &__options {

        & a {
            color: white;
            font-weight: 800;
            text-transform: uppercase;
            font-size: 15px;
            transition: .3s all ease-in-out;
            border-bottom: 3px solid transparent;

            &:nth-child(2){
                margin: 0 1.5rem;
            }
        }
    }

    & .active {
        color: $color-text-dark !important;
        border-bottom: 3px solid $color-secondary;
    }

}