*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // 1rem == 10px

    @include respond(tab-port){
        font-size: 50%; // 1rem == 8px
    }

    @include respond(tab-land){
        font-size: 56.25%; // 1rem == 9px
    }

    @include respond(big-desk){
        font-size: 75%; // 1rem == 12px, 12/16
    }

}