*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // 1rem == 10px

    @include respond(tab-port){
        font-size: 50%; // 1rem == 8px
    }

    @include respond(tab-land){
        font-size: 56.25%; // 1rem == 9px
    }

    @include respond(big-desk){
        font-size: 75%; // 1rem == 12px, 12/16
    }

}

body {
    font-family: 'Raleway', sans-serif;
    color: $color-text;
    line-height: 1;
    background-color: $color-primary;
    // padding: 0 3rem;
//     background-image: url('../images/background.svg');
//     background: rgb(2,0,36);
// background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

html,body
{
    // width: 100%;
    // height: 100%;
    // margin: 0px;
    // padding: 0px;
    // overflow-x: hidden; 
}

h1 {
    font-size: 40px;
}


h2 {
    font-size: 30px;
}


h3 {
    font-size: 30px;
}

h5 {
    font-size: 18px;
}

p {
    font-size: 16px;
}


@include respond(phone){

    h1 {
        font-size: 36px;
    }
    
    
    h2 {
        font-size: 30px;
    }
    
    
    h3 {
        font-size: 30px;
    }

}

img {
    max-width: 100%;
}


span {
    font-size: 16px;
    // text-transform: uppercase;
    font-weight: 200;
    // color: $color-text-dark;
    display: block;
    line-height: 1;
}


.btn, button {
    text-decoration: none;
    color: white;
    border-radius: 10rem;
    padding: 15px 33px;
    transition: .3s all linear;
    border: none;
    outline: none;
    font-family: 'Raleway', sans-serif;

    & span {
        font-size: 13px;
        color: white;
        font-weight: 800;
    }

    &:hover {
        background-color: white;
        @include shadow-light;
    }

    &-primary {
        background-color: $color-secondary;

        &:hover {
             color: $color-secondary !important; 
        }
    }

    &-secondary {
        background-color: #fff;
        
        
        & span {
            color: rgb(0, 43, 161);
        }
    }

    &-success {
        background-color: $color-success;

        &:hover {
            & span {
                color: $color-success !important;
            }
        }
    }

}

.sep {
    height: 7px;
    width: 50px;
    background-color: $color-primary;
    margin-bottom: 3rem;
}

a {
    text-decoration: none;
    color: $color-text;
    font-size: 16px;
}


/* size */
::-webkit-scrollbar {
    height: 4px;

    @include respond(tab-port){
      display: none;
    }
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $color-primary-dark; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  @include respond(tab-port){

  }